#==============================================================================#
# This file specifies intentionally untracked files that git should ignore.
#==============================================================================#
/GRADESCOPE.md

#==============================================================================#
# File extensions to be ignored anywhere in the tree.
#==============================================================================#
# Temp files created by most text editors.
*~
# Merge files created by git.
*.orig
# Java bytecode
*.class
# Byte compiled python modules.
*.pyc
# vim swap files
.*.sw?
.sw?
# vscode settings directory
.vscode
#OS X specific files.
.DS_store
# Core files
#core

#==============================================================================#
# Explicit files to ignore (only matches one).
#==============================================================================#
# Various tag programs
/tags
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
.gitusers
autom4te.cache
cscope.files
cscope.out
autoconf/aclocal.m4
autoconf/autom4te.cache
/compile_commands.json

#==============================================================================#
# Build artifacts
#==============================================================================#
#m4/
build/
#*.m4
*.o
*.lo
*.la
*~
*.pdf
*.swp
a.out

#==============================================================================#
# Kate Swap Files
#==============================================================================#
*.kate-swp
.#kate-*

#==============================================================================#
# Backup artifacts
#==============================================================================#
~*
*~
tmp/

#==============================================================================#
# KDevelop files
#==============================================================================#
.kdev4
*.kdev4
.dirstamp
.deps
.libs

#==============================================================================#
# Eclipse files
#==============================================================================#
.wtpmodules
.classpath
.project
.cproject
.pydevproject
.settings
.autotools

/Debug/
/misc/

#==============================================================================#
# Intellij files
#==============================================================================#
.idea
*.iml

#==============================================================================#
# Code Coverage files
#==============================================================================#
*.gcno
*.gcda


#==============================================================================#
# Eclipse
#==============================================================================#

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
io_file

## General

# Compiled Object files
*.slo
*.lo
*.o
*.cuo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled python
*.pyc

# Compiled MATLAB
*.mex*

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Eclipse Project settings
*.*project
.settings

# Visual Studio
.vs

# QtCreator files
*.user

# PyCharm files
.idea

# OSX dir files
.DS_Store

# User's build configuration
Makefile.config

# build, distribute, and bins (+ python proto bindings)
build
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build-*

# Generated documentation
apidoc/doc
docs/_site
docs/gathered
_site
doxygen
docs/dev

# Config files
*.conf

# Vagrant
.vagrant

# Clangd cache index
.cache

# Submission zip files
*.zip


*.aux
*.log
*.blg
*.out
*.#

*.~undo-tree~
*.backup

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Log-Files
# currently only in this directory, not in subdirs! (some .log used in testing env)
/*.log

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

user.bazelrc
bazel-*
!zuul.d/

# IDE specific files
.clwb/
.clwb
.*.swp
.history

# Symphony and SYML Editor
/logs
.metadata

# Visual Studio Code
.vscode
#

# Jetbrains IDE directory
**/.idea/**/*.*

# Ignore clangd's config file and cache folders
.clangd
**/.cache/clangd

# Temporary needed sym links
/adp
/urban
/foresight

# Python test environment
.tox
*.egg-info

# Fca specific dependecies file
third_party/non_shareable_dependencies_fcaspec.bzl

# compilation database
**/compile_commands.json
# bazel-compile-commands config file
.bazelccrc

# Sphinx doc build folder
docs/build-output/*
docs/_build/*

# Mac Os specific files
.DS_Store

# Python virtual environment
.venv

# Folder config
.envrc

# Ignore Javascript/Typescript (node) artifacts
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.yarn-integrity

debug_*.bat

cvi_ws*

# klocwork
.kwlp
.kwps

# gdb
.gdbinit

### Automatically added by Hedron's Bazel Compile Commands Extractor: https://github.com/hedronvision/bazel-compile-commands-extractor
# Ignore the `external` link (that is added by `bazel-compile-commands-extractor`). The link differs between macOS/Linux and Windows, so it shouldn't be checked in. The pattern must not end with a trailing `/` because it's a symlink on macOS/Linux.
/external
# Ignore links to Bazel's output. The pattern needs the `*` because people can change the name of the directory into which your repository is cloned (changing the `bazel-<workspace_name>` symlink), and must not end with a trailing `/` because it's a symlink on macOS/Linux.
/bazel-*
# Ignore generated output. Although valuable (after all, the primary purpose of `bazel-compile-commands-extractor` is to produce `compile_commands.json`!), it should not be checked in.
/compile_commands.json
# Ignore the directory in which `clangd` stores its local index.
/.cache/
